{% extends 'base.html' %}


{% block title %}
Профиль
{% endblock %}

{% block content %}

<div class="card">

  <div class="card-body">
      <p>Имя: {{ user.first_name }}</p>
      <p>Фамилия: {{ user.last_name }}</p>
      <p>Логин: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <a href="{% url 'profile_update_url' pk=user.pk %}" class="btn btn-primary">Редактировать</a>
    </div>
      <img src="{{ user.profile.avatar.url }}" width="250px" height="320px">

      <form class="edit-avatar" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="button">Отправить</button>
      </form>
    </div>
{% endblock %}
